# Copy this file to .env (for running without authentication) and .env.online (for running with built-in authentication proxy)
CLAUDE_CODE_ATTRIBUTION_HEADER=0
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
CLAUDE_CODE_DISABLE_1M_CONTEXT=1
CLAUDE_CODE_MAX_OUTPUT_TOKENS=2048
ANTHROPIC_API_KEY="sk-ant-api03-1234567890123456789012345678901234567890123456789012345"
ANTHROPIC_BASE_URL=https://host.name

# Only need those when running with --auth-proxy option
MC_CF_ID=cloudflare-service-token-id
MC_CF_SECRET=cloudflare-service-token-secret
MC_PROXY_PORT=8000 # just choose an unused port
