BIN_DIR=/path/to/bin/dir
BIN_NAME=bin-dir-name
LLAMA_ARG_HOST="0.0.0.0"
LLAMA_ARG_PORT=8080
LLAMA_ARG_MODEL=/path/to/model.gguf
LLAMA_ARG_MMPROJ=/path/to/mmproj.gguf
LLAMA_ARG_FLASH_ATTN=on
LLAMA_ARG_N_GPU_LAYERS=99
LLAMA_ARG_CTX_SIZE=65536
LLAMA_ARG_REASONING=off
LLAMA_ARG_BATCH=512
LLAMA_ARG_UBATCH=512
LLAMA_ARG_TOP_K=64