BIN_DIR=/root/llm-ops/bin
BIN_NAME=build-name
LLAMA_ARG_MODEL=/path/to/model
LLAMA_ARG_MMPROJ=/root/llm/models/unsloth/gemma-4-26B-A4B-it_mmproj-BF16.gguf
LLAMA_ARG_HOST="0.0.0.0"
LLAMA_ARG_PORT=8080
LLAMA_ARG_N_GPU_LAYERS=99
LLAMA_ARG_CTX_SIZE=65536
